<div class="header-footer-margin"></div>
<div class="footer text-center">
  <a href="https://www.facebook.com/lemonzestfest/" target="_blank">
    <i class="fa fa-facebook footer-content"></i>
  </a>
  <a href="https://www.instagram.com/lemonzestfest/" target="_blank">
    <i class="fa fa-instagram footer-content"></i>
  </a>
  <a href="https://www.twitter.com/lemonzestfest/" target="_blank">
    <i class="fa fa-twitter footer-content"></i>
  </a>
  <div class="text-center lemon-zest-white powered-by blakely pt-3">
    Powered by <a class="lemon-zest-white blakely" href="http://tavolosolutions.design" target="_blank">Tavolo Solutions</a> & <a class="lemon-zest-white blakely" href="https://official333am.com" target="_blank">3:33AM Multimedia Collective</a>
  </div>
</div>