<img src="../../assets/images/banners/sour-patch.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col lemon-center">
      <h1>You made it!</h1>
      <p>Drop a message below for the other lemon heads that find their way here!</p>
    </div>
  </div>

  <form id="sour-patch-form">
    <div class="row">
      <div class="col-10 offset-1">
        <label>Name</label>
        <input id="sour-patch-name" placeholder="Ex: John Smith" type="text" tabindex="1" name="Name" required>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <label>Message</label>
        <textarea id="sour-patch-message" placeholder="Ex: Hey Lemon Zest Team! You all seem great!" tabindex="4" rows="4" name="Message" required></textarea>
      </div>
    </div>
    <div class="row" id="form-bottom">
      <div class="col-10 offset-1 lemon-center">
        <button class="btn btn-primary" type="submit" id="contact-submit" data-submit="...Sending">
          Submit
        </button>
      </div>
    </div>
  </form>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col">
      <h1>Messages</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div *ngFor="let message of messages | async" class="card d-block pt-5 pb-5 mb-5">
        <div class="pl-5 pr-5 mb-5">
          <i class="fa fa-quote-left"></i>
        </div>
        <div class="pl-5 pr-5">
          <span class="lemon-message">{{ message.message }}</span>
        </div>
        <div class="text-right mt-5 pl-5 pr-5">
          <span class="lemon-signature">{{ message.name }}</span>
        </div>
        <div class="text-right pl-5 pr-5">
          <span class="lemon-date">{{ message.date | date: 'medium' }}</span>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>