<img src="../../assets/images/banners/artist.jpg" alt="Sana's Logo" class="full-img mb-4">

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Artists</h1>
      <p>Are you interested in participating in Lemon Zest 2022? We started this festival with the artists of the DMV
        area at the forefront. After nearly two years of no shows or exhibits, we wanted to create the perfect
        opportunity for artists to get back into the swing of things! If you're looking to be a performing or gallery
        artist, here's your chance! Below we have provided two forms to gauge interest and ultimately choose who will be
        selected to participate.</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#performing">Performing Artist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#gallery">Gallery Artist</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="performing" class="container tab-pane active text-center"><br>
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfD--8QIHkBvIG3vO6IYNZbUltzxiEOBMOeP66u_gxeqQRoow/viewform?embedded=true"
        width="100%" height="2750" frameborder="0">Loading…</iframe>
    </div>
    <div id="gallery" class="container tab-pane fade text-center"><br>
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfO0CU8oopxEPa6w5DmevqpQWsEjacHqtsxC4anHeYVBIH9VA/viewform?embedded=true"
        width="100%" height="1900" frameborder="0">Loading…</iframe>
    </div>
  </div>
</div>
<app-footer></app-footer>