<img src="../../assets/images/banners/artist.jpg" alt="Sana's Logo" class="full-img mb-4">

<div class="container">

  <div class="row">
    <div class="col lemon-center">
      <h1>Lemon Zest 2022 Line-Up</h1>
      <a class="lemon-zest-blue" href="https://www.instagram.com/backroad301/" target="_blank">
        BACKROAD
      </a>
      <br>
      <a class="lemon-zest-blue" href="https://www.instagram.com/thatstayo/" target="_blank">
        TAYO
      </a>
      <br>
      <a class="lemon-zest-blue" href="https://www.instagram.com/official333am/" target="_blank">
        3:33AM
      </a>
      <br>
      <a class="lemon-zest-blue" href="https://www.instagram.com/rms_nj/" target="_blank">
        RMS
      </a>
      <br>
      <a class="lemon-zest-blue" href="https://www.instagram.com/kingsofthewildthingsband/" target="_blank">
        KINGS OF THE WILD THINGS
      </a>
      <br>
      <a class="lemon-zest-blue" href="https://www.instagram.com/heartbreak_theband/" target="_blank">
        HEARTBREAK
      </a>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col lemon-center">
      <h1>Artist Submissions</h1>
      <!-- <p>Are you interested in participating in Lemon Zest 2022? We started this festival with the artists of the DMV
        area at the forefront. After nearly two years of no shows or exhibits, we wanted to create the perfect
        opportunity for artists to get back into the swing of things! If you're looking to be a performing or gallery
        artist, here's your chance! Below we have provided two forms to gauge interest and ultimately choose who will be
        selected to participate.</p> -->
        <p>
          Artist submissions for Lemon Zest 2022 are now closed. Come back next year to submit an application for Lemon Zest 2023!
        </p>
    </div>
  </div>
</div>

<div class="container mt-5 d-none">
  <!-- Artist Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#performing">Performing Artist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#gallery">Gallery Artist</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="performing" class="container tab-pane active text-center"><br>
      <p>If the Performing Artist Form is not loading correctly for you, you can access it by <a class="lemon-zest-blue casablanca" href="https://docs.google.com/forms/d/e/1FAIpQLSfD--8QIHkBvIG3vO6IYNZbUltzxiEOBMOeP66u_gxeqQRoow/viewform?embedded=true" target="_blank">clicking here</a>!</p>
      <iframe
        scrolling="yes"
        src="https://docs.google.com/forms/d/e/1FAIpQLSfD--8QIHkBvIG3vO6IYNZbUltzxiEOBMOeP66u_gxeqQRoow/viewform?embedded=true"
        width="100%" [height]="iframeHeights.pHeight" frameborder="0">Loading…</iframe>
    </div>
    <div id="gallery" class="container tab-pane fade text-center"><br>
      <p>If the Gallery Artist Form is not loading correctly for you, you can access it by <a class="lemon-zest-blue casablanca" href="https://docs.google.com/forms/d/e/1FAIpQLSfO0CU8oopxEPa6w5DmevqpQWsEjacHqtsxC4anHeYVBIH9VA/viewform?embedded=true" target="_blank">clicking here</a>!</p>
      <iframe
        scrolling="yes"
        src="https://docs.google.com/forms/d/e/1FAIpQLSfO0CU8oopxEPa6w5DmevqpQWsEjacHqtsxC4anHeYVBIH9VA/viewform?embedded=true"
        width="100%" [height]="iframeHeights.gHeight" frameborder="0">Loading…</iframe>
    </div>
  </div>
</div>
<app-footer></app-footer>