<img src="../../assets/images/banners/team.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <p>Lemon Zest is an upcoming festival in the DMV area bringing together fine artists, music acts, and folks in the
        community. When the world shut down this past year, we wanted a way to give back to the community that made us
        the artists that we are today. The name Lemon Zest Festival comes from the phrase “when life gives you lemons,
        you make lemonade.”</p>
      <p>Lemon Zest is a music and arts festival for all ages. We hope to bring together young budding and seasoned
        artists together to experience each other’s art and tunes. We also hope to highlight community organizations and
        businesses whose work we admire and align with our values of joy, community, and eclecticism.</p>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col lemon-center">
      <h1>Meet The Team</h1>
      <p>The Lemon Zest team is made up of local artists and musicians, who know and are in love with the music and art
        scene within the DMV area.</p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let profile of profiles" class="col-sm-12 col-md-3">
      <div class="card lemon-center d-block pt-5 pb-5 mb-5">
        <img class="rounded-circle profile mb-3" [src]="profile.profilePath" alt="Sana" style="width:100px">
        <h2>{{ profile.name }}</h2>
        <p class="title">{{ profile.role }}</p>
        <a [href]="profile.facebook" target="_blank">
          <i class="fa fa-facebook lemon-zest-blue icon-content"></i>
        </a>
        <a [href]="profile.instagram" target="_blank">
          <i class="fa fa-instagram lemon-zest-blue icon-content"></i>
        </a>
        <a [href]="profile.twitter" target="_blank">
          <i class="fa fa-twitter lemon-zest-blue icon-content"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>