.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand {
  color: #2D2929 !important;
}

.nav-item:hover {
  background: #2D2929 !important;
  color: #f9ed27 !important;
}

.navbar-toggler {
  /* background: #2D2929 !important; */
  border-color: transparent !important;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #EE95AD !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 56px;
  -webkit-overflow-scrolling: touch !important;
}
  
/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #2D2929 !important;
  width: 0%;
  -webkit-overflow-scrolling: touch !important;
  
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

a {
  color: #2D2929 !important;
  /* color: #FDFAFA !important;
  text-shadow: -1px 0 #2D2929, 0 1px #2D2929, 1px 0 #2D2929, 0 -1px #2D2929; */
}

.fa-bars {
  color: #2D2929 !important;
  font-size: 32px;
  margin-top: -2px;
}

.bg-light {
  background: #EE95AD !important;
}

img {
  margin-top: -15px;
}

#lemon {
  transition: all 1s ease-in-out;
}

#logo-text {
  font-size: 40px !important;
}

#logo-text:hover {
  text-decoration: none!important;
}

.mt-2 {
  margin-top: 0.8rem!important
}