<!-- Just an image -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
  <a class="navbar-brand" href="#">
    <img src="./../../assets/icons/lemonzestfest-favicon.ico" width="30" height="30" alt=""> Lemon Zest Festival
  </a>
  <i class="navbar-toggler fa fa-bars" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation"></i>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Artists</a>
      <a class="nav-item nav-link" href="#">Sponsors</a>
      <a class="nav-item nav-link" href="#">Fundraisers</a>
      <a class="nav-item nav-link" href="#">News</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</nav>