<img src="../../assets/images/banners/contact.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col lemon-center">
      <h1>Contact</h1>
      <p>If you have any inquiries regarding Lemon Zest, feel free to reach out at any time!</p>
    </div>
  </div>

  <form id="contact" action="https://formspree.io/f/mwkjgjkz" method="post">
    <div class="row">
      <div class="col-10 offset-1">
        <label>Name</label>
        <input placeholder="Ex: John Smith" type="text" tabindex="1" name="Name" required>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <label>Email</label>
        <input placeholder="Ex: john@smith.com" type="email" tabindex="2" name="Email" required>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <label>Phone Number</label>
        <input placeholder="Ex: 301-515-JOHN" type="tel" tabindex="3" name="Phone Number" required>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <label>Message</label>
        <textarea placeholder="Ex: Hey Lemon Zest Team! You all seem great! Quick question..." tabindex="4" rows="4" name="Message" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 lemon-center">
        <button class="btn btn-primary" type="submit" id="contact-submit" data-submit="...Sending">
          Submit
        </button>
      </div>
    </div>
  </form>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col lemon-center">
      <h1>Stay Social</h1>
      <p>Stay connected with us on social media to get every zesty update!</p>
      <a href="https://www.facebook.com/lemonzestfest/" target="_blank">
        <i class="fa fa-facebook lemon-zest-blue icon-content"></i>
      </a>
      <a href="https://www.instagram.com/lemonzestfest/" target="_blank">
        <i class="fa fa-instagram lemon-zest-blue icon-content"></i>
      </a>
      <a href="https://www.twitter.com/lemonzestfest/" target="_blank">
        <i class="fa fa-twitter lemon-zest-blue icon-content"></i>
      </a>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col lemon-center">
      <h1>Email</h1>
      <p>You can also reach us directly by emailing <a class="casablanca lemon-zest-blue" href="mailto:hello@lemonzestfest.com?subject=Lemon%20Zest%20Inquiry&body=Hey%20Lemon%20Zest%20Team!%20You%20all%20seem%20great!%20Quick%20question...">hello@lemonzestfest.com</a>!</p>
    </div>
  </div>

</div>
<app-footer></app-footer>