<img src="../../assets/images/banners/community.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">

  <div class="row">
    <div class="col-12 lemon-center">
      <h1>Lemon Zest 2022 Footage</h1>
    </div>

    <div class="col-12 lemon-center mt-3">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/videoseries?list=PLYUabnvUvJuCgiiWBH3bceXpLfTVrqQWS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row lemon-center">
    <div class="offset-xs-0 offset-md-2 col-xs-12 col-md-8 lemon-center">
      <h1 class="mb-5">Lemon Zest 2022 Gallery</h1>
    </div>

    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/misc-1.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/misc-2.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/misc-3.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>

    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/melly-1.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/melly-2.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/melly-3.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>

    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/333-1.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/333-2.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/333-3.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>

    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/rms-1.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/rms-2.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/rms-3.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>

    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/kings-1.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/kings-2.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/kings-3.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>

    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/heartbreak-1.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/heartbreak-2.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/heartbreak-3.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>

    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/misc-4.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/misc-5.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>
    <div class="col-xs-12 col-md-4 lemon-center">
      <img src="../../assets/images/lzf22/misc-6.jpg"
        class="w-100 pr-3 pl-3 pt-3 pb-3">
    </div>

  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col lemon-center">
      <h1>Ripe Talent</h1>
      <p>Lemon Zest is dedicated to putting a spotlight on local artists in the DMV area. Here are a few of our favorites in one playlist.</p>
      <div class="text-center">
        <iframe src="https://open.spotify.com/embed/playlist/66YM92JK6VvUZ8FVpSTN6K" width="100%" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>