<img src="../../assets/images/banners/community.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col lemon-center">
      <h1>Ripe Talent</h1>
      <p>Lemon Zest is dedicated to putting a spotlight on local artists in the DMV area. Here are a few of our favorites in one playlist.</p>
      <div class="text-center">
        <iframe src="https://open.spotify.com/embed/playlist/66YM92JK6VvUZ8FVpSTN6K" width="100%" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>