/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Blakely Bold";
    src: local("Blakely Bold"), url(./assets/fonts/Blakely/Blakely-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Casablanca URW Light";
    src: local("Casablanca URW Light"), url(./assets/fonts/Casablanca-URW-Light/Casablanca-URW-Light.ttf) format("truetype");
}

a, h1 {
    font-family: "Blakely Bold";
    color: #2D2929 !important;
}

p {
    font-family: "Casablanca URW Light";
    color: #2D2929 !important;
}

.full-img {
    width: 100%;
    height: auto;
}

.header-footer-margin {
    margin-top: 4.6rem!important;
}