<img src="../../assets/images/banners/lemon.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col">
      <h1>History</h1>
      <p>The origin of the lemon is unknown, though lemons are thought to have first grown in Assam (a region in northeast India),
        northern Burma or China.[2] A genomic study of the lemon indicated it was a hybrid between bitter orange (sour orange)
        and citron.[3][4] Lemons entered Europe near southern Italy no later than the second century AD, during the time
        of Ancient Rome.[2] However, they were not widely cultivated. They were later introduced to Persia and then to Iraq
        and Egypt around 700 AD.[2] The lemon was first recorded in literature in a 10th-century Arabic treatise on farming,
        and was also used as an ornamental plant in early Islamic gardens.[2] It was distributed widely throughout the Arab
        world and the Mediterranean region between 1000 and 1150.[2] An article on Lemon and lime tree cultivation in Andalusia
        of Spain is brought down in Ibn al-'Awwam's 12th-century agricultural work, Book on Agriculture.[5] The first substantial
        cultivation of lemons in Europe began in Genoa in the middle of the 15th century. The lemon was later introduced
        to the Americas in 1493 when Christopher Columbus brought lemon seeds to Hispaniola on his voyages. Spanish conquest
        throughout the New World helped spread lemon seeds. It was mainly used as an ornamental plant and for medicine.[2]
        In the 19th century, lemons were increasingly planted in Florida and California.[2] In 1747, James Lind's experiments
        on seamen suffering from scurvy involved adding lemon juice to their diets, though vitamin C was not yet known as
        an important dietary ingredient.[2][6] The origin of the word lemon may be Middle Eastern.[2] The word draws from
        the Old French limon, then Italian limone, from the Arabic laymūn or līmūn, and from the Persian līmūn, a generic
        term for citrus fruit, which is a cognate of Sanskrit (nimbū, “lime”).[7]</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Varieties</h1>
      <p>The 'Bonnie Brae' is oblong, smooth, thin-skinned and seedless.[8] These are mostly grown in San Diego County, USA.[9]
        The 'Eureka' grows year-round and abundantly. This is the common supermarket lemon,[10] also known as 'Four Seasons'
        (Quatre Saisons) because of its ability to produce fruit and flowers together throughout the year. This variety is
        also available as a plant to domestic customers.[11] There is also a pink-fleshed Eureka lemon, with a green and
        yellow variegated outer skin.[12] The Lisbon lemon is very similar to the Eureka and is the other common supermarket
        lemon. It is smoother than the Eureka, has thinner skin, and has fewer or no seeds. It generally produces more juice
        than the Eureka.[13][14] The 'Femminello St. Teresa', or 'Sorrento'[15] is native to Italy. This fruit's zest is
        high in lemon oils. It is the variety traditionally used in the making of limoncello. The 'Yen Ben' is an Australasian
        cultivar.[16]
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Nutrition and phytochemicals</h1>
      <p>Lemon is a rich source of vitamin C, providing 64% of the Daily Value in a 100 g reference amount (table). Other essential
        nutrients are low in content. Lemons contain numerous phytochemicals, including polyphenols, terpenes, and tannins.[17]
        Lemon juice contains slightly more citric acid than lime juice (about 47 g/l), nearly twice the citric acid of grapefruit
        juice, and about five times the amount of citric acid found in orange juice.[18]</p>
    </div>
  </div>
</div>