<img src="../../assets/images/banners/lemon-concert.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col-12 lemon-center">
      <h1>Tickets</h1>
      <p>
        We are pleased to announce that tickets for Lemon Zest 2022 are now on sale through Eventbrite! Our pre-sale lasts until March 28, 2022.
      </p>
    </div>

    <div class="col-12 lemon-center">
      <a class="lemon-zest-blue" href="https://www.eventbrite.com/e/204117118797" target="_blank">
        Click here to buy tickets to Lemon Zest 2022!
      </a>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<app-footer></app-footer>