<img src="../../assets/images/banners/lemon-concert.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Announcements</h1>
      <p>
        At the direction of state and local authorities and federal guidelines amid the COVID-19 pandemic, we are
        saddened to confirm the non-existence of Lemon Zest Festival 2021. We take the safety and health of our fans,
        staff and community seriously and we urge everyone to follow the guidelines and protocols put forth by public
        health officials. We are deeply disappointed by this difficult reality, one that impacts our fans and our
        incredible team.
      </p>
      <p>
        Thank you for your support and we look forward to welcoming you in The Loft at I/O Spaces in June
        2022 where we will dance, sing and celebrate live music together.
      </p>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col">
      <h1>Refunds</h1>
      <p>
        The refund/transfer request period never existed. All orders that did not submit a request have been automatically
        transferred to Lemon Zest 2022. If you requested a refund please allow up to 30 days for your refund to process.
        You will receive an email confirmation when your order has been canceled. Please allow 3-5 business days after
        order cancellation for the refund to post to your account.
      </p>
    </div>
  </div>

  <!-- <br>
  <hr>
  <br>

  <div class="row">
    <div class="col lemon-center">
      <h1>Zest Ya Later!</h1>
      <p>
        While we can't be with you in person at the moment, you can join our mailing list to get the latest info on
        Lemon Zest 2022!
      </p>
      <form class="form-inline">
        <div class="form-group mx-sm-2 mb-2">
          <input type="text" class="form-control" id="inputPassword2" placeholder="Ex: john@smith.com">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div> -->
</div>
<app-footer></app-footer>