<img src="../../assets/images/banners/sponsor.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col">
      <p>Hey Potential Sponsor!</p>
      <p>Lemon Zest is an upcoming festival in the DMV area bringing together fine artists, music acts, and folks in the
        community. When the world shut down this past year, we wanted a way to give back to the community that made us
        the artists that we are today. The name Lemon Zest Festival comes from the phrase “when life gives you lemons,
        you make lemonade.”</p>
      <p>Lemon Zest is a music and arts festival for all ages. We hope to bring together young budding and seasoned
        artists together to experience each other’s art and tunes. We also hope to highlight community organizations and
        businesses whose work we admire and align with our values of joy, community, and eclecticism.</p>
      <p>The Lemon Zest team is made up of local artists and musicians, who know and are in love with the music and art
        scene within the DMV area. We have both performed and hosted events in the region, so we understand the
        importance of planning an event by and for artists and musicians.</p>
      <p>We are also partnering with Alex’s Lemonade Stand for this festival. Alex’s Lemonade Stand Foundation (ALSF) is
        changing the lives of children with cancer by funding impactful research, raising awareness, supporting families
        and empowering everyone to help cure childhood cancer. Also, Alex’s Lemonade Stand is a 501(c)(3) non-profit
        organization! A percentage (we should specify an amount) of your donations made to Lemon Zest Fest will benefit
        Alex’s Lemonade Stand and be tax deductible.</p>
      <p>We also have the option in our sponsorship tiers to directly sponsor an artist or performer. We understand that
        all labor, especially creative labor, is valuable and want to fairly compensate our artists and performers.</p>
      <p>We’d love for you to review the various tiers of sponsorship below. Please let us know if you are interested in
        becoming an official Lemon Zest Fest sponsor!</p>
      <p>Thanks,<br>The Lemon Zest Team</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h1>Tiers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>$250</p>
    </div>
    <div class="col">
      <p>logo on shirt, logo on website, social media shoutout, branded transitions on videos/ads, swag bags</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <p>$500</p>
    </div>
    <div class="col">
      <p>logo on shirt, logo on website, social media shoutout, booth at festival, branded transitions on
        videos/ads, swag bags</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <p>$750</p>
    </div>
    <div class="col">
      <p>logo on shirt, logo on website, booth at festival, social media shoutout, custom brand merch, branded
        transitions on videos/ads, swag bags</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <p>$1000</p>
    </div>
    <div class="col">
      <p>Mike and Sana will paint you a custom guitar, logo on shirt, logo on website, booth at festival, social
        media shoutout, brand merch, custom installation??, branded transitions on videos/ads, swag bags</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col lemon-center">
      <a class="lemon-zest-blue" href="../../assets/pdfs/lemon-zest-sponsorship-packet.pdf" download>
        Click here to download our sponsorship packet
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>