<img src="../../assets/images/banners/sponsor.jpg" alt="Sana's Logo" class="full-img mb-4">
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sponsors</h1>
      <p>An artist is a person engaged in an activity related to creating art, practicing the arts, or demonstrating an art.
        The common usage in both everyday speech and academic discourse refers to a practitioner in the visual arts only.
        However, the term is also often used in the entertainment business, especially in a business context, for musicians
        and other performers (although less often for actors). "Artiste" (the French for artist) is a variant used in English
        in this context, but this use has become rare. Use of the term "artist" to describe writers is valid, but less common,
        and mostly restricted to contexts like that used in criticism.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>